In [1]:
from IPython.core.display import display, HTML, Latex, Markdown
from repr_utils import Header, Table
import logging

In [2]:
header = Header("This is a header")
display(header)

This is a header

In [3]:
display(Header("This is a smaller header", 2))

This is a smaller header

In [4]:
display(str(header))

'This is a header'

In [5]:
print(header._repr_html_())
display(HTML(header._repr_html_()))

<h1>This is a header</h1>

In [6]:
print(header._repr_markdown_())
display(Markdown(header._repr_markdown_()))

# This is a header

# This is a header

In [7]:
logging.warning(f"Printing as Latex (LaTeX sections are not supported in jupyter)")
print(header._repr_latex_())
display(Latex(header._repr_latex_()))

WARNING:root:Printing as Latex (LaTeX sections are not supported in jupyter)

\section{This is a header}

In [8]:
# TODO create a simpler way to display text within its header context.
display(
    Header("Man this header is cool"),
    "Text and stuff",
    Header("This subsection also works", 2),
    "even more text"
)

Man this header is cool

'Text and stuff'

This subsection also works

'even more text'

# Tables

In [9]:
Table(
    ['A', 'Var X', 'Another variable'],
    [
        [1, 2, 'Alice'],
        [3, 10, 'Bob'],
        [11, 100, 'Charlie'],
    ],
)

|   A |   Var X | Another variable   |
|-----|---------|--------------------|
|   1 |       2 | Alice              |
|   3 |      10 | Bob                |
|  11 |     100 | Charlie            |

## A table with indexes

In [10]:
table = Table(
    ['', 'A', 'Var X', 'Another variable'],
    [
        ['Row 1', 1, 2, 'Alice'],
        ['Row 2', 3, 10, 'Bob'],
        ['Yet another row', 11, 100, 'Charlie'],
    ],
    has_index=True
)
table

|                 |   A |   Var X | Another variable   |
|-----------------|-----|---------|--------------------|
|           Row 1 |   1 |       2 | Alice              |
|           Row 2 |   3 |      10 | Bob                |
| Yet another row |  11 |     100 | Charlie            |

In [11]:
print(table._repr_html_())
display(HTML(table._repr_html_()))

<table>
    <thead style="font-weight: bold">
    <tr>
        <th></th>
        <th>A</th>
        <th>Var X</th>
        <th>Another variable</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th>Row 1</th>
            <td>1</td>
            <td>2</td>
            <td>Alice</td>
        </tr>
        <tr>
            <th>Row 2</th>
            <td>3</td>
            <td>10</td>
            <td>Bob</td>
        </tr>
        <tr>
            <th>Yet another row</th>
            <td>11</td>
            <td>100</td>
            <td>Charlie</td>
        </tr>
    </tbody>
</table>

In [12]:
print('Markdown table style also works on github.')
print(table._repr_markdown_())
display(Markdown(table._repr_markdown_()))

Markdown table style also works on github.
|                     |   A |   Var X | Another variable   |
|---------------------|-----|---------|--------------------|
|           **Row 1** |   1 |       2 | Alice              |
|           **Row 2** |   3 |      10 | Bob                |
| **Yet another row** |  11 |     100 | Charlie            |

|                     |   A |   Var X | Another variable   |
|---------------------|-----|---------|--------------------|
|           **Row 1** |   1 |       2 | Alice              |
|           **Row 2** |   3 |      10 | Bob                |
| **Yet another row** |  11 |     100 | Charlie            |

In [13]:
logging.warning('tabular is not properly supported in jupyter')
print(table._repr_latex_())
display(Latex(table._repr_latex_()))

WARNING:root:tabular is not properly supported in jupyter

\begin{tabular}{rrrl}
\hline
                 &   A &   Var X & Another variable   \\
\hline
           Row 1 &   1 &       2 & Alice              \\
           Row 2 &   3 &      10 & Bob                \\
 Yet another row &  11 &     100 & Charlie            \\
\hline
\end{tabular}